@{
    ViewData["Title"] = "Jugar";
}

<main class="Height100 juego">
    <h5 class="tiempo">@ViewBag.Tiempo</h5>
    <div class="barraTiempo">
        <div>
            <h2></h2>
        </div>
    </div>
    <div class="cardTitulo">
        <h1 class="titulo">@ViewBag.Pregunta.Enunciado</h1>
    </div>
    <div class="respuestas">
        @for(var i = 0; i<@ViewBag.Respuestas.Count;i++) {
        <a href='@Url.Action("VerificarRespuesta","Home", new {idPregunta=@ViewBag.Pregunta.IdPregunta, idRespuesta = @i+1, enunciado =@ViewBag.Pregunta.Enunciado, respuesta = @ViewBag.Respuestas[i].Contenido})'>@ViewBag.Respuestas[i].Contenido</a>
        }
    </div>
</main>
<script src="/js/site.js">